@inject NavigationManager navigationManager

<article class="product-card">
    <div class="product-card__imagecontainer">
        <img class="product-card__image" src="https://blazorshop.blob.core.windows.net/images/@Product.ImageName" alt="@Product.Name" />
    </div>
    <div class="product-card__content">
        <h3 class="product-card__title">@Product.Name</h3>
        <p class="product-card__price">@FormatPrice(Product.Value)</p>
    </div>
    <AuthorizeView Roles="Manager">
        <Authorized>
            <RadzenButton Text="Izmijeni"
                          ButtonStyle="ButtonStyle.Warning"
                          Icon="create"
                          Style="width: 100%"
                          Click="@(() => navigationManager.NavigateTo($"proizvodi/uredi/{Product.Id}"))" />
            <RadzenButton Text="Ukloni"
                          ButtonStyle="ButtonStyle.Danger"
                          Icon="delete"
                          Style="width: 100%; margin-top: 10px"
                          Click="@(() => DeleteProduct.InvokeAsync(Product))" />
        </Authorized>
        <NotAuthorized>
            <RadzenButton Text="Dodaj u košaricu"
                          ButtonStyle="ButtonStyle.Success"
                          Icon="add_shopping_cart"
                          Style="width: 100%"
                          Click="@(() => AddProductToCart.InvokeAsync(Product))" />
        </NotAuthorized>
    </AuthorizeView>
    
</article>

@code {
    [Parameter] public ProductViewModel Product { get; set; }
    [Parameter] public EventCallback<ProductViewModel> AddProductToCart { get; set; }
    [Parameter] public EventCallback<ProductViewModel> DeleteProduct { get; set; }

    private string FormatPrice(double price)
    {
        return $"{price}.00 HRK";
    }
}
