@page "/proizvodi/novi"
@inject IProductRepository productRepository
@inject IDisplayToast displayToast
@inject NavigationManager navigationManager
@using System.Text.Json

<h3>Novi proizvod</h3>

<RadzenTemplateForm TItem="AddProductDTO"
                    Data="@NewProduct" 
                    Submit="@(async (AddProductDTO args) => await CreateProduct(args))"
                    InvalidSubmit="@OnInvalidSubmit">
    <div class="row">
        <div class="col-6">
            <RadzenFieldset Text="Informacije">
                <div class="row mb-2">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Kategorija" />
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox Style="width: 100%"
                                       Name="Category" 
                                       @bind-Value="@NewProduct.CategoryName" />
                        <RadzenRequiredValidator Component="Category" 
                                                 Text="Unesite kategoriju proizvoda!" />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Naziv" />
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox Style="width: 100%" 
                                       Name="Name" 
                                       @bind-Value="@NewProduct.Name" />
                        <RadzenRequiredValidator Component="Name" 
                                                 Text="Unesite naziv proizvoda!" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Opis proizvoda" />
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox style="width: 100%;" Name="description" @bind-Value="@NewProduct.Description" />
                    </div>
                </div>
            </RadzenFieldset>

            <RadzenFieldset Text="Vrijednost">
                <div class="row mb-2">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Zaliha" />
                    </div>
                    <div class="col-md-8">
                        <RadzenNumeric TValue="int" Name="Quantity" @bind-Value="@NewProduct.Quantity" />
                        <RadzenNumericRangeValidator Component="Quantity" Min="1" Text="Zaliha mora biti veća od 0!" />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Cijena" />
                    </div>
                    <div class="col-md-8">
                        <RadzenNumeric TValue="double" Name="Value" @bind-Value="@NewProduct.Value" />
                        <RadzenNumericRangeValidator Component="Value" Min="1" Text="Vrijednost mora biti veća od 0!" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Promotivni popust (%)" />
                    </div>
                    <div class="col-md-8">
                        <RadzenNumeric TValue="int" Name="PromotionPercentage" @bind-Value="@NewProduct.PromotionPercentage" />
                        <RadzenNumericRangeValidator Component="PromotionPercentage" Min="0" Max="100" Text="Popust mora biti između 0 i 100%!" />
                    </div>
                </div>
            </RadzenFieldset>
        </div>
        <div class="col-6 d-flex flex-column align-items-end">
            <RadzenFieldset Text="Pregled" Style="width: 100%">
                <ImageUpload OnSelectedImage="PictureSelected" ImageURL="@imageUrl" />
            </RadzenFieldset>
            <RadzenButton Text="Spremi" ButtonType="ButtonType.Submit" Style="margin-top: 15px; width: 150px" />
        </div>
    </div>
</RadzenTemplateForm>

@code {
    public AddProductDTO NewProduct { get; set; } = new AddProductDTO();
    private string imageUrl;

    public async Task CreateProduct(AddProductDTO args)
    {
        var id = await productRepository.Add(NewProduct);

        if (id != 0)
        {
            await displayToast.Show("Proizvod je uspješno kreiran!", "success");
            await Task.Delay(1000);

            navigationManager.NavigateTo("proizvodi");
        }
        else
        {
            await displayToast.Show("Greška pri kreiranju proizvoda!", "error");
        }
    }

    private void PictureSelected(string imageBase64)
    {
        NewProduct.ImageContent = Convert.FromBase64String(imageBase64);
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
        Console.WriteLine(JsonSerializer.Serialize(args, new JsonSerializerOptions() { WriteIndented = true }));
    }
}
